<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">
</head>
<body>
<header th:replace="fragments/commons::header">
</header>

<main>
    <section
            class="bg-altGrey rounded border border-2 border-darkGreen position-absolute top-50 start-50 translate-middle">
        <div class="container p-0">
            <div class="text-center my-4 text-white">
                <h2>New Post</h2>
            </div>
            <div class="row mx-5">
                <div class="col p-0 m-2">
                    <form th:action="@{/posts/add}" th:method="post" th:object="${postModel}" id="form1" enctype="multipart/form-data">

                        <div class="row g-2">

                            <div class="form-floating mb-3">
                                <input th:field="*{title}" th:errorclass="is-invalid" name="title" type="text" class="form-control" id="floatingPassword"
                                       placeholder="Title">
                                <label for="floatingPassword">Title</label>
                                <small id="titleError"
                                       class="invalid-feedback">Title must not be empty</small>
                            </div>

                            <div class="form-floating mb-3">
                                <input th:field="*{categories}" th:errorclass="is-invalid" name="categories" type="text" class="form-control" id="exampleText"
                                       placeholder="Category">
                                <label for="exampleText">Categories</label>
                                <small id="categoryError"
                                       class="invalid-feedback">Your post must have at least one category</small>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea th:text="'fun'" th:field="*{description}" th:errorclass="is-invalid" name="description" class="form-control" placeholder="Description"
                                          id="floatingTextarea2"
                                          style="height: 100px"></textarea>
                                <label for="floatingTextarea2">Description</label>
                                <small id="descriptionError"
                                       class="invalid-feedback">Description must not be empty</small>
                            </div>
                            <div class="text-white">
                                <div class="mb-3">
                                    <label for="formFileMultiple" class="form-label">Picture</label>
                                    <input name="multipartFile" class="form-control" type="file" id="formFileMultiple" multiple>
                                </div>
                            </div>
                        </div>

                        <div id="hoverable-btn">
                            <a href="javascript:;" onclick="document.getElementById('form1').submit();"><span>SUBMIT</span></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

<footer th:replace="fragments/commons::footer"></footer>

<script src="/js/categoriesExample.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>
</html>