<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>

<h1 th:text="#{greeting}"></h1>

<form th:method="get">
    <label th:text="#{language}" for="lang"></label>
    <select
            onchange="this.form.submit()"
            id="lang"
            name="lang">
        <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
        <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
    </select>
</form>

</body>
</html>